body {
  margin:0;
  padding:0;
  font-family:'SF pro display', 'Niramit','Arial',sans-serif;
  font-size: 14px;
  color: #444;
  position: relative;
  min-height: 100%;
  text-align:center;
}

@font-face {
  font-family: 'sf pro display';
  src: url('../fonts/SF-Pro-Display-Light.otf')
}

* {
  box-sizing: inherit;
}
html {
  height:100%;
  box-sizing: border-box;
}

div.photo {
  width: 100%;
  margin: 0 auto;
}

div.container, div.containerSubMenu {
  margin: 0 auto;
  width: 990px;
  max-width: 1280px;
  min-height: 100%;
  display:flex;
  flex-wrap: wrap;
  position: relative;
}

div.containerSubMenu {
  justify-content: space-between;
}

/*
HEADER
*/

header {
  background: #313131;
  padding: 5px 0px;
}

header .container {
  justify-content: space-between;
  position: relative;
}

header .container img {
  width: 30px;
  height: 30px;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header li {
  padding: 9px 40px;
}

header li:hover a {
  color: #b4b4b4;
}

header a {
  letter-spacing: 1px;
  font-weight:300;
  font-size: 12px;
  color: white;
  text-decoration: none;
}

div.bar {
  background-color: #d6d6d6;
  width: 980px;
  height: 1px;
  position: relative;
  bottom: 170px;
}

/*
BODY
*/

h1 {
  font-size: 65px;
  color: black;
  margin: 0 auto;
}

.subMenu ul {
  list-style: none;
  margin: 0;
  padding:0;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subMenuItem {
  padding: 25px 15px;
}

.subMenuItem a {
  letter-spacing: 1px;
  font-weight:300;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

nav .menuBag {
  display: none;
}

nav .menuBag li {
  text-align: left;
}

nav li.bag:hover .menuBag {
  display: block;
  position:absolute;
  top: 120%;
  left: 80%;
  list-style: none;
  background-color: white;
  padding: 30px;
  width:300px;
  border: 1px #f2f2f2 solid;
}

nav.subMenu .subMenuItem .buy{
  background-color: #2d74c4;
  color: white;
  padding: 4px 12px;
  border-radius: 10%;
  font-weight: 300;
  letter-spacing: 1px;
}

h1#title, .home {
  text-align: center;
}

img.home {
  width: 1440px;
  height: 840px;
  position: relative;
  bottom: 30px;
}

div.colorBlack {
  background-color: black;
  height: 680px;
}

h2.white {
  color: white;
  font-weight: 400;
  font-size: 60px;
}

h2.black {
  font-weight: 400;
  font-size: 60px;
  color: black;
}

h2.black#fi {
  font-weight: 500;
}

p.white {
  color: white;
  font-weight: lighter;
  font-size: 28px;
}

.colorBlack img.homepod {
  width: 600px;
  height: 600px;
}

.colorBlack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

section a {
  color: #2d74c4;
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
}

.vid a {
  color: white;
  font-size: 20px;
}

.vid img {
  width: 100%;
}

.vid h2.white{
  position: absolute;
  bottom: 130px;
  left: 90px;
  text-align: left;
  font-weight: 500;
}

div.vid {
  position: relative;
}

.vid a {
  position: absolute;
  bottom: 120px;
  left: 94px;
  text-decoration: underline;
}

div.colorWhite {
  background-color: white;
  width: 100%;
  height: 140px;
}

.blocTechnique {
  margin: 140px 0px 140px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.blocTechnique .technique p{
  font-weight: lighter;
  font-size: 28px;
}

.technique h1 {
  font-weight: 500;
}

.blocTechnique img {
  height: 460px;
}

.ipod {
  height: 390px;
  width: 850px;
}

.icon {
  margin-top: 45px;
  width: 75px;
  height: 75px;
}

.bbb {
  display:flex;
  align-items: center;
  flex-direction: column;
}

.bbb section {
  display:flex;
  flex-direction:row;
}

div.bbb {
  height: 750px;
}

.bbb a {
  padding: 20px;
}

#air {
  height: 700px;
}

#mus {
  height: 636px;
  margin-bottom: 20px;
}

section.pub {
  padding: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

div.pub1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

p.black,section.music p {
  font-weight: lighter;
  font-size: 28px;
}

h1.black {
  font-weight: 400;
}

.ccc {
  padding: 20px;
}

/*FOOTER*/

footer {
  background: #f2f2f2;
  width:100%;
  padding-top:50px;
}

footer ul.info {
  list-style: none;
  margin: 0;
  padding:0;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer a,#copyright {
  letter-spacing: 1px;
  font-weight:300;
  font-size: 12px;
  color: #555555;
  text-decoration: none;
}

section.help {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section.help a {
  padding: 28px;
  color: black;
  font-weight: normal;
  font-size: 11px;
}

section.help img {
  width: 100px;
  height: 70px;
}

div.bar#bar2 {
  bottom : 0px;
}

div.bar#bar3 {
  bottom : 0px;
}

footer ul a:hover {
  color : black;
  text-decoration: underline;
}

.aaa {
  list-style: none;
  margin: 0;
  padding:0;
  padding-top: 20px;
  line-height: 20px;
  display:flex;
  flex-direction: column;
  text-align: left;
}

.footerItem {
  padding: 15px;
  list-style: none;
  text-align: left;
}

section.copyright {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#flag {
  padding-left: 600px;
  height: 15px;
  margin: 10px;
}

#fff {
  font-size: 12px;
  margin-top: 10px;
}

a.bas {
  padding: 0px 20px 10px 20px;
  font-size: 9px;
  font-weight: 400;
}

a.first {
  padding-left: 0px;
}

h6.none {
  display: none;
}


/*
PAGE2
*/

#imgSiri {
  margin: 170px 0px 170px 0px;
  width: 1000px;
  height: 110px;
}

div.video {
  width: 100%;
  background-color: black;
  padding: 90px;
}

#sque {
  margin: 10px 0px 10px 0px;
  width: 100%;
}

h2.ttt {
  position: absolute;
  bottom: 2930px;
  right: 350px;
}

iframe {
  border: 0px;
}

.ggg {
  width: 1440px;
  height: 600px;
}

.eee {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.eee h2.white {
  line-height: 60px;
}

.homesize {
  height: 400px;
}

div.final {
  height: 850px;
}
